{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if search %}
        <h2>Searching for {{search_input}}</h2>
        <ul>
            {%for entry in string_entries %}
                <a href="/wiki/{{ entry }} "><li>{{entry}}</li></a>
            {% endfor %}
        </ul>
    {% else %}
        <h1>All pages</h1>
    {% endif %}

    <ul>
        {% for entry in entries %}
            <a href = "/wiki/{{ entry }}" ><li>{{ entry }}</li></a>
        {% endfor %}
    </ul>
{% endblock %}